body{
    font-family: 'Poppins', sans-serif;
}
h1{font-size: 40px;}
span{
    color: orange;
}
.Half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;


}
.Half-width img{
    width: 50%;
}